#favorite_item_list_inner {
    float: left;
    width: 250px;
    height: 300px;
    margin: 10px 0 0 10px;
}

#favorite_item_list_inner>#favorite_item_list_inner_img {
    float: left;
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
}

#favorite_item_list_inner_img>img {
    float: left;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

#favorite_item_list_inner>#favorite_item_list_inner_main {
    float: left;
    width: 100%;
    height: 100px;
}

#favorite_item_list_inner_main>div {
    float: left;
    width: 100%;
    height: 33px;
}

#favorite_item_list_inner_main_content>p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#favorite_item_list_inner_main_price>p {
    font-weight: bold;
}

#favorite_item_list_inner_main_favorite_view>p {
    float: left;
    position: relative;
    bottom: 5px;
    font-size: 13px;
    color: darkgray;
}